body{
    background-color: #fdfbf7;
}
.dishphoto_arrange{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.dishphoto_arrange img{
    width: 1000px;
    height: 140px;
    object-fit: cover;
}

#button1{
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color:#4f6b5a;
    color:white;
    border: none;
    border-radius: 15px;
}

.login-popup-window{
    display: none;
}
.titleline a{
    position:absolute;
    right:40px;
    top:0px;
    bottom:0px;
    margin:auto;
}

#searchbox{
    width: 450px;
    height: 45px;
    border-radius: 20px;
    border-width: 3px;
    border-color: grey;
}

.titleline{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    position:relative;
    margin-bottom:40px;
    margin-top:40px;
}